@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* .prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: black;
} */

/* .prose li {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}



/* .prose p {
  white-space: pre-line;
  margin-bottom: 0px;
  padding-bottom: 0px;
} */

.prose ol {
  line-height: 1.25rem;
  margin: 0;
}

.prose ul {
  line-height: 1.25rem;
  margin: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p {
  margin: 0;
}
